<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Atualizar Dados</title>
</head>
<body>
	<h2>
		Atualizar Dados do Professor
	</h2>
	<form  method="post">	
		Nome: <input type="text" value="" name="nome"/> <br> <br>
		E-mail: <input type="text" value="" name="email"/><br>  <br>
		Ano de Egresso: <input type="number" value="" name="anoEgresso"/><br>  <br>
		<button  type="submit">Atualizar</button>
	</form>
</body>
</html>

