<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Cadastro de Professores</title>
</head>
<body>
	<h2>
		Cadastro de Professores
	</h2>
	<form method="post">
		<label for="nome " > Seu nome: </label>
		<br>
		 <input type="text" value="" name="nome" required /> <br>
		 <br>
		 <label for="email" > Email: </label>
		 <br>
		 <input type="text" value="" name="email" required /> <br>
		 <br>
		  <label for="anoEgresso"> Ano de Egresso: </label>
		 <br>
		 <input type="text" value="" name="anoEgresso" required/> <br>
		 <br>
		<button  type="submit">Salvar</button>
	
	</form>
</body>
</html>